<div class="container my-4">
  <h1><%= link_to "Deals Index Page", deals_path, class: "btn btn-primary mb-4" %></h1>

  <h1>All Houses</h1>

  <% @houses.each do |house| %>
    <%= render(HouseCardComponent.new(house: house)) %>
  <% end %>

  <h2 class="mt-4">Add New House</h2>

  <% if @house.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h4>
      <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= render 'form', house: @house %>

</div>
