<h3><%= @house.address %><br></h3>
    <ul>
      <li>List Price: $<%= @house.list_price %></li>
      <li>Year Built: <%= @house.year_built %></li>
    </ul>

  <h4> Units </h4>
  <% @house.units.each do |unit| %>
    <ul>
      <li>Bedrooms: <%=  unit.bedrooms %></li>
      <li>Bathrooms: <%= unit.bathrooms %></li>
      <li>Projected Rent: $<%= unit.monthly_rent %></li>
    </ul>
  <% end %>

  <h3> Deal </h3>
  <%= form_with(model: [@house, @house.deals.new], local: true) do |f| %>
  <div class="field">
    <%= f.label :interest_rate, "Interest Rate (%)" %>
    <%= f.number_field :interest_rate, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :down_payment_percentage, "Down Payment (%)" %>
    <%= f.number_field :down_payment_percentage, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :purchase_price, "Purchase Price" %>
    <%= f.number_field :purchase_price, value: @house.list_price, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :loan_term_years, "Loan Term (Years)" %>
    <%= f.number_field :loan_term_years %>
  </div>

  <div class="field">
    <%= f.label :rehab_cost, "Rehab Cost" %>
    <%= f.number_field :rehab_cost, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :holding_cost, "Holding Cost" %>
    <%= f.number_field :holding_cost, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :utilities, "Utilities" %>
    <%= f.number_field :utilities, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :lawn_care, "Lawn Care" %>
    <%= f.number_field :lawn_care, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :insurance, "Insurance" %>
    <%= f.number_field :insurance, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :vacancy, "Vacancy (%)" %>
    <%= f.number_field :vacancy, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :maintenance, "Maintenance (%)" %>
    <%= f.number_field :maintenance, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :capital_expenditure, "Capital Expenditure (%)" %>
    <%= f.number_field :capital_expenditure, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :property_management, "Property Management (%)" %>
    <%= f.number_field :property_management, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :closing_costs, "Closing Costs (%)" %>
    <%= f.number_field :closing_costs, step: 0.01 %>
  </div>

  <div class="actions">
    <%= f.submit "Create Deal" %>
  </div>
<% end %>
