<div class="container my-4">
  <h1 class="mb-4">
    <%= link_to "Houses Index Page", houses_path, class: "btn btn-primary" %>
  </h1>

  <h1>Your Deals</h1>

  <% @deals.each do |deal| %>
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= link_to deal.house.address, house_path(deal.house) %></h3>
        <ul class="list-unstyled">
          <li><strong>List Price:</strong> $<%= deal.house.list_price %></li>
          <li><strong>Max Purchase Price:</strong> $<%= deal.max_purchase_price 10000, 15 %></li>
          <li><strong>Year Built:</strong> <%= deal.house.year_built %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
